header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: orange;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
.recipe {
  margin: 2vw;
  padding: 1vw;
  line-height: 1.5;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: darkgrey;
}
header {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  margin: 1vw;
  padding: 0.5vw;
}
